body {
  background-image: url('assets/background.png');
}

.message{
  text-align: center;
  color: #427581;
  font-family: 'Arial';
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:rgba(255,255,255, 0.8); 
}

.border {
  border-style: solid;
  border-color: #d0dfe4;
  border-radius: 5%;
}

header {
  background-image: url("assets/HeaderBackground.png");
  height: 350px;
  padding-top: 0px;
  background-size: cover;
}

h1 {
  color: #ba2c2c;
  font-size: 75px;
  text-align: center;
  font-family: 'Georgia';
  height: 100px;
  padding-top: 100px;
  background-color: rgba(255,255,255, 0.8);

}

h2 {
  padding-left: 20px;
  margin-left: 10px;
  margin-bottom: 30px;
  border-left-style: solid;
  border-left-width: 8px;
  border-left-color: #ff7a38;
}

h3 {
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
}


.menu {
  width: 40%;
  height: 400px;
  margin: 10px;
  float: left;
  background-color: rgba(255, 222, 161, 0.808);
}

.menu h3 {
  padding-left: 10px;
}

.menu p {
  padding-left: 25px; 
}

.item {
  float: none;
  margin: 10px;
  width: 50%;
  height: 400px;
  object-fit: cover;
}

.item:hover {
  box-shadow: 1px 1px 2px #102a32, 0 0 25px #3d95b3, 0 0 5px #cddbde;
}

.photo:hover {
  box-shadow: 1px 1px 2px #102a32, 0 0 25px #3d95b3, 0 0 5px #cddbde;
}

.photo {
  clear: both;
  float: left;
  margin: 10px;
  width: 50%;
  height: 450px;
  object-fit: cover;
}

.description1 {
  width: 95%;
  height: 100%;
  margin: 10px;
  clear: both;
  float: none;
  background-color: rgba(255, 222, 161, 0.808);
}

.description1 p {
  padding-left: 20px;
  width: 90%;
  font-size: 18px;
}

ul {
  width: 90%;
  font-size: 14px;
}
.description2 {
  width: 40%;
  height: 100%;
  margin: 10px;
  clear: right;
  float: right;
  background-color: rgba(255, 222, 161, 0.808);
}

.description2 p {
  padding-left: 20px;
  width: 90%;
  font-size: 18px;
}
